asn1crypto==0.24.0
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
Click==7.0
cmake==3.12.0
conda==4.5.11
cryptography==2.3.1
dlib==19.15.0
face-recognition==1.2.3
face-recognition-models==0.3.0
idna==2.7
menuinst==1.4.14
numpy==1.15.2
opencv-python==3.4.3.18
Pillow==9.3.0
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==18.0.0
PySocks==1.6.8
pywin32==223
requests==2.20.0
ruamel-yaml==0.15.46
six==1.11.0
urllib3==1.23
win-inet-pton==1.0.1
wincertstore==0.2
